<div class="container-app">

  <div class="container-artists">
    <app-artists
    [artists]="artists"
    (getAlbums)="getAlbums($event)"></app-artists>
  </div>

  <div class="container-selections">
      <div class="container-albums">
        <app-albums
        [albums]="albums"
        (getTracks)="getTracks($event)"
        (loveAlbum)="loveAlbum($event)"></app-albums>
      </div>
    
      <div class="container-tracks">
        <app-tracks
        [tracks]="tracks"
        (loveTrack)="loveTrack($event)"></app-tracks>
      </div>
  </div>


</div>